a,
a {
  color: #25b7d3;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

a > code {
  color: #2e3033;
  text-decoration: underline;
}

a:hover > code {
  text-decoration: none;
}
