:root{
  --ifm-color-primary-lightest: #3C3E42;
  --ifm-color-primary-lighter: #35373B;
  --ifm-color-primary-light: #333538;
  --ifm-color-primary: #2e3033;
  --ifm-color-primary-dark: #292B2E;
  --ifm-color-primary-darker: #27292B;
  --ifm-color-primary-darkest: #202224;
}
